<% if @comment.comments_count > 0 %>
    <% if @first == "true" %>
        <%= turbo_stream.update "comment-comments-#{@comment.id}" do %>
            <%= render partial: "comments/comment", collection: @comments, locals: { depth: @depth } %>
        <% end %>
        <%= turbo_stream.replace "show-button-#{@comment.id}" do %>
            <button class="hidden" id="show-button-<%= @comment.id %>" data-comments-visibility-target="showButton" data-action="click->comments-visibility#show">Show Comments</button>
        <% end %>
        <%= turbo_stream_action_tag :remove_class, targets: ".comment-visibility-1-#{@comment.id}", class: "hidden" %>
    <%else %>
        <%= turbo_stream.append "comment-comments-#{@comment.id}" do %>
            <%= render partial: "comments/comment", collection: @comments, locals: { depth: @depth } %>
        <% end %>
    <% end %>
    <% if @pagy.next.present? %>
        <%= turbo_stream.update "load-more-#{@comment.id}" do %>
            <%= button_to "Load More", comment_comments_part_path(@comment.id, format: :turbo_stream), params: { page: @pagy.next, depth: @depth }, method: "get" %>
        <% end %>
    <% else %>
        <%= turbo_stream.update "load-more-#{@comment.id}" do %>
        <% end %>
    <% end %>
<% else %>
        <%= turbo_stream.update "comment-comments-#{@comment.id}" do %>
        <% end %>
        <%= turbo_stream.update "load-more-#{@comment.id}" do %>
        <% end %>
        <%= turbo_stream_action_tag :add_class, target: "comments-main-#{@comment.id}", class: "hidden" %>
        <%= turbo_stream_action_tag :add_class, targets: ".comment-visibility-1-#{@comment.id}", class: "hidden" %>
        <%= turbo_stream.replace "show-button-#{@comment.id}" do %>
            <button id="show-button-<%= @comment.id %>" data-comments-visibility-target="showButton" data-action="click->comments-visibility#show">Show Comments</button>
        <% end %>
<% end %>