<main>
    <%= form_with model: Post.new, data: { controller: :form, action: "turbo:submit-end->form#clear" } do |form| %>
        <%= form.file_field :image, accept: "image/png,image/jpeg,image/jpg,image/webp"  %>
        <%= form.rich_textarea :content %>
        <%= form.submit "Post" %>
    <% end %>
    <div id="posts">
        <%= render @posts%>
    </div>
</main>