<%= turbo_stream_from "feed-#{current_user.id}" %>
<main>
    <%= form_with model: Post.new, data: { controller: "form", action: "turbo:submit-end->form#clear" } do |form| %>
        <%= form.file_field :image, accept: "image/png,image/jpeg,image/jpg,image/webp", data: {
            form_target: "field fieldClear",
            action: "input->form#disableIfEmptyFields change->form#disableIfEmptyFields",
        }  %>
        <button type="button" data-action="click->form#clearFields">Clear File</button>
        <%= form.rich_textarea :content, data: {
            form_target: "field",
            action: "input->form#disableIfEmptyFields trix-attachment-add->form#disableIfEmptyFields trix-attachment-remove->form#disableIfEmptyFields"
        } %>
        <%= form.submit "Post", data: {
            form_target: "submit",
        } %>
    <% end %>
    <div id="feed-<%= current_user.id %>">
        <%= render @posts%>
    </div>
    <% if @pagy.next.present? %>
        <%= turbo_frame_tag :next_page, src: posts_path(page: @pagy.next, format: :turbo_stream), loading: :lazy %>
    <% end %>
</main>