<%= turbo_frame_tag @post do %>
    <% if local_assigns[:just_created] || current_user && current_user.id == @post.creator.id  %>
        <div class="<%= local_assigns[:just_created] ? "hidden" : "" %>" <%= tag.attributes(
            data: ({
                controller: "options",
                "options-creatorid-value" => @post.creator.id
            } if local_assigns[:just_created]
            )
        )%>>
            <%= button_to "X", post_path(@post.id) , method: "delete" %>
            <%= button_to "edit", edit_post_path(@post.id), method: "get" %>
        </div>
    <% end %>
    <div> <%= @post.creator.username %> </div>
    <%= link_to post_path(@post.id), class: "content-link", data: { turbo_frame: "_top" } do %>
        <div id="post-content-<%= @post.id %>" >
            <% if @post.postable_type == "PostImage" %>
                <%= image_tag @post.postable.image %>
            <% else %>
                <%= @post.postable&.content %>
            <% end %>
        </div>
    <% end %>
    <% if current_user %>
        <div id="like-post-<%= @post.id %>">
            <%= render partial: "application/likeform", locals: {just_created: local_assigns[:just_created], content: @post, type: "post" } %>
        </div>
    <% end %>
    <div id="likes-post-number-<%= @post.id %>"> <%= @post.likes_count %> </div>
    <div id="comments-post-number-<%= @post.id %>"> <%= @post.comments_count %> </div>
<% end %>