<%= turbo_stream_from "post-show-#{@post.id}" %>
<%= render @post%>
<%= form_with model: Comment.new, url: post_comments_path(@post.id), data: { controller: :form, action: "turbo:submit-end->form#clear" } do |form| %>
    <%= form.textarea :content, size: "5x5", data: {
            form_target: "field",
            action: "input->form#disableIfEmptyFields"
        } %>
    <%= form.submit "Create", data: {
            form_target: "submit",
        } %>
<% end %>
<div id="post-comments-<%= @post.id %>">
    <%= render partial: "comments/comment", collection: @direct_comments %>
</div>
