<%= turbo_stream_from "post-show-#{@post.id}" %>
<%= render @post%>
<%= form_with model: Comment.new, url: post_comments_path(@post.id), data: { controller: :form, action: "turbo:submit-end->form#clear" } do |form| %>
    <%= form.textarea :content, size: "5x5" %>
    <%= form.submit "Create" %>
<% end %>
<div id="post-comments-<%= @post.id %>">
    <%= render partial: "comments/comment", collection: @post.direct_comments %>
</div>
